body{background-color: lightpink;}

h1{text-align: center;
font-size: 15vh;}

ul{font-size: 30px;
text-align: right;
text-decoration: none;
list-style-type: none
;
}

li{background-color:black ;
margin: 5vh;
border-radius: 30%;
text-align: center;
text-decoration: none;}

a:hover{font-size: 5vh;}

.nav{height: 100vh;
    background-color: lightsalmon;
    width: 30vh;
    display: block;
            position: relative;
            float: right;

}

.navi{font-size: 4vh;
text-align: center;}